.table,.table th,tr{
    padding: 1px;
    border: 2px solid black;
    border-radius: 3px;
}

.table th {
    width: 100px;
}

.menu-button button{
    width: 150px;
    height: 40px;
    background: aqua;
    border-radius: 10px;
}